#LIBACT DEPENDENCIES https://github.com/ntucllab/libact/blob/master/requirements.txt
setuptools<60.0.0
numpy<=2.2.2
scipy<=1.15.1
scikit-learn<=1.6.1
matplotlib<=3.10.0
Cython<=3.0.11
joblib<=1.4.2

#MAIN PACKAGES
git+https://github.com/ntucllab/libact.git # Biblioteka do aktywnego uczenia
torch              # Główna biblioteka PyTorch - trenowanie modeli głębokiego uczenia
torchvision        # Zawiera gotowe architektury (np. ResNet) oraz narzędzia do przetwarzania obrazów
medmnist           # Zawiera przygotowane zbiory danych MedMNIST oraz interfejsy do ich ładowania
tqdm               # Pasek postępu w pętlach treningowych i ewaluacyjnych